.cardTem {
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.cardTem h3 {
    margin-block-start: 0px;
}

.cardTem:hover {
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.cartTemInfo {
    padding-top: 20%;
    height: 70%;
}

button {
    color: white;
    background: transparent;
    border: 2px solid white;
    width: 100px;
    height: 50px;
}

button:hover {
    color: black;
    background-color: #F4EEEC;
    border: 2px solid #F4EEEC;
    opacity: 1;
}