.cardTem {
    width: 100%;
    height: 400px;
    color: white;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.cardTem h3 {
    margin-block-start: 0px;
}

button {
    color: white;
    background: transparent;
    border: 2px solid white;
    width: 100px;
    height: 50px;
}

button:hover {
    color: black;
    background-color: #F4EEEC;
    border: 2px solid #F4EEEC;
}

.cartTem--info {
    height: 100%;
    position: relative;
}

.cardTem--info:hover {
    background-color: transparent;
    opacity: 0.0;
}