.fichas {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    background-color: #071D59;
    color: white;
}

.moreEvents {
    padding-top: 150px;
    background-color: #0B2E8C;
}

.moreEvents button {
    margin-top: 20%;
}

.moreEvents:hover {
    background-color: #071D59;
    color: white;
}