.fichas {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    background-color: black;
    color: white;
}

.moreEvents {
    padding-top: 100px;
}

.moreEvents:hover {
    background-color: #3F5666;
    color: white;
}